@import "../../colors.css";

* {
  margin: 0;
  padding: 0;
  font-family: FiraCode Nerd Font Propo;
}

window#waybar {
  background-color: transparent;
  color: @on_surface;
  border-bottom: 2px solid @primary;
}

#workspaces {
  background-color: transparent;
  margin: 4px;
}

#workspaces button {
  background-color: transparent;
  color: @on_surface_variant;
  padding: 4px 12px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  border-bottom: 2px solid @primary;
  color: @primary;
}

#custom-appicon {
  background-color: @primary;
  color: @on_primary;
  padding: 0 4px;
  margin: 4px;
}

#window {
  color: @on_surface_variant;
  padding: 4px 16px;
  margin: 4px;
}

#clock {
  background-color: @primary_container;
  color: @on_primary_container;
  padding: 0 12px;
  margin: 4px;
  font-weight: bold;
  font-size: 1em;
}

#pulseaudio,
#network,
#battery,
#custom-pacman {
  background-color: @surface_container;
  color: @on_surface;
  padding: 0 8px;
  margin: 2px;
  font-size: 0.9em;
  font-weight: bold;
}
#custom-pmenu,
#custom-notification {
  font-size: 1.1em;
}
