* {
  font-family: FontAwesome, "Noto Sans";
  color: white;
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;
  padding: 0;
  opacity: 0.8;
}

.critical {
  border: 1px solid red;
}

.notification-content {
  background: transparent;
  border-radius: 4px;
  padding: 6px;
}

.close-button {
  background: black;
  color: white;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  background: rgba(255, 0, 0, 0.8);
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.notification-default-action:hover,
.notification-action:hover {
  background: rgba(10, 10, 10, 0.8);
}

.notification-default-action {
  border-radius: 4px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 4px;
}

.notification-action:last-child {
  border-bottom-right-radius: 4px;
}

.body-image {
  margin-top: 6px;
  background-color: black;
  border-radius: 6px;
}

.summary, .time, .body, .top-action-title {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.control-center {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.control-center-list, .floating-notifications, .blank-window {
  background: transparent;
}

.widget-title, .widget-dnd, .widget-label>label {
  margin: 8px;
  font-size: 16px;
}

.widget-title>button, .widget-dnd>switch {
  color: white;
  background: black;
  box-shadow: none;
  border-radius: 4px;
}



.widget-dnd>switch slider {
  background: rgba(15, 15, 15, 0.8);
  border-radius: 4px;
}

.widget-volume, .widget-backlight, widget-menubar>box, .widget-buttons-grid {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  font-size: 14px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  background: black;
  border-radius: 4px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: rgba(15, 15, 15, 0.8);
}

.screenshot-buttons>button, .screencast-buttons>button, .powermode-buttons>button, .power-buttons>button {
  background: black;
}

.screenshot-buttons>button:hover, .screencast-buttons>button:hover, .powermode-buttons>button:hover, .power-buttons>button:hover {
  background: rgba(15, 15, 15, 0.8);
}
