* {
  color0: #0A0408;
  color1: #562D35;
  color2: #5D2F36;
  color3: #572D30;
  color4: #383560;
  color5: #33406D;
  color6: #93507C;
  color7: #E0A7CB;
  color8: #9C6A8A;
  color9: #602F38;
  color10: #68323A;
  color11: #612E33;
  color12: #3D396C;
  color13: #36477E;
  color14: #AD558D;
  color15: #E7CBDC;
  background: #070305;
  foreground: #F0B7DB;
  cursor: #856F9A;
  
  /* Material Design variables */
  surface: #07030580;
  surface-dim: #0A040890;
  inverse-surface: #F0B7DB;
  primary: #562D3590;
  inverse-primary: #93507C;
}

