/*****----- Configuration -----*****/


/*****----- Global Properties -----*****/
@import "colors.rasi"

/*****----- Main Window -----*****/
* {
    bg: @surface;
    fg: @on-surface;
    accent: @primary;
    button: @surface-container;

    background-color: @surface;
    text-color: @on-surface;
}

window {
    transparency: "real";
    location: center;
    anchor: center;
    fullscreen: false;
    height: 60%;
    width: 40%;
    x-offset: 0px;
    y-offset: 0px;

    enabled: true;
    margin: 0px;
    padding: 0px;
    border: 2px solid;
    border-radius: 20px;
    border-color: @primary;
    cursor: "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled: true;
    spacing: 15px;
    margin: 0px;
    padding: 30px;
    border: 0px solid;
    border-radius: 0px;
    border-color: @primary;
    background-color: transparent;
    children: [ "inputbar","listview" ];
}

/*****----- Listview Only -----*****/
listview {
    enabled: true;
    columns: 1;
    lines: 5;
    cycle: false;
    dynamic: false;
    scrollbar: false;
    layout: vertical;
    reverse: false;
    fixed-height: true;
    fixed-columns: true;

    spacing: 5px;
    margin: 0px;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
    border-color: @primary;
    background-color: transparent;
    text-color: @on-surface;
}

/*****----- Elements -----*****/
inputbar {
    enabled: true;
    spacing: 10px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: @primary;
    background-color: @surface-container;
    text-color: @on-surface;
    children: [ "prompt", "entry" ];
}
element-text {
    background-color: transparent;
    text-color: inherit;
    cursor: inherit;
    vertical-align: 0.5;
    enabled: true;
    spacing: 0px;
    margin: 0px;
    padding: 12px;
    border-radius: 100%;
    border-color: @primary;
    background-color: transparent;
    text-color: @on-surface;
    horizontal-align: 0.0;
}

/***** No special selected style *****/
element-text selected.normal {
    background-color: @primary;
    text-color: @on-primary;
}
prompt {
    enabled: false;
}

entry {
    padding: 0px;
    text-color: @on-surface;
    background-color: transparent;
    expand: true;
}
